* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Europa;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

a {
  font-family: 'Europa';
}

p {
  font-family: 'Europa';
}

span {
  font-family: 'Europa';
}

.light {
  font-weight: lighter;
}

.page-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  width: 100%;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

header .header-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #1d6a3f;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer img {
  width: 150px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 500px;
  font-size: 20px;
  color: white;
}

.button.button-light-green {
  background: #2fac66;
}

.button.button-dark-green {
  background: #1d6a3f;
}

nav a {
  color: white;
  font-size: 20px;
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  nav a {
    display: none;
  }
}

nav i {
  font-size: 30px;
  color: white;
  display: none !important;
}

@media only screen and (max-width: 700px) {
  nav i {
    display: block !important;
  }
}

.billboard {
  height: 550px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #1d6a3f), to(rgba(255, 255, 255, 0.3506))), url(./images/house.jpg);
  background: linear-gradient(180deg, #1d6a3f 20%, rgba(255, 255, 255, 0.3506) 100%), url(./images/house.jpg);
  background-position: center;
  background-size: cover;
}

.billboard .billboard-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.billboard h1 {
  color: white;
  margin-bottom: 30px;
}

.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.benefits .benefits-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits h2 {
  margin-bottom: 50px;
}

.benefits .image-text-wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 1007px) {
  .benefits .image-text-wrap-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits .image-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits img {
  width: 120px;
  margin-bottom: 30px;
}

.benefits p {
  text-align: center;
}

.plans {
  padding-top: 50px;
  text-align: center;
}

.plans .plans-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plans .heading {
  margin-bottom: 50px;
}

.plans .plan-chooser-2 {
  height: 50px;
  margin-bottom: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: solid 1px grey;
  cursor: pointer;
  display: flex;
  width: 100%;
  max-width: 500px;
}

.plans .plan-chooser-2 span {
  height: 100%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  width: 50%;
}

.plans .plan-chooser-2 span.active {
  color: white;
}

.plans .plan-chooser-2 .slider {
  height: 100%;
  background: #1d6a3f;
  position: absolute;
  border-radius: 50px;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 50%;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel-container .carousel-container-wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.carousel-container .carousel-container {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel-container .carousel-container .carousel-container-wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.carousel-container .carousel-container .view-1 {
  height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 1007px) {
  .carousel-container .carousel-container .view-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-container .carousel-container .view-2 {
  height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 1007px) {
  .carousel-container .carousel-container .view-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-container .carousel-container .plan-box {
  background: #1d6a3f;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5%;
}

.carousel-container .carousel-container .plan-box .speed-info-container {
  margin-bottom: 30px;
}

.carousel-container .carousel-container .plan-box .speed-info-container span {
  display: inline;
  font-size: 12px;
}

.carousel-container .carousel-container .plan-box .price {
  margin-bottom: 30px;
}

.carousel-container .carousel-container .plan-box p {
  text-align: center;
}

.carousel-container .carousel-container .plan-box .button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.carousel-container .carousel-container .semi-circle {
  width: 100%;
  width: 200px;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid yellow;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 30px;
}

.carousel-container .view-1 {
  height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 1007px) {
  .carousel-container .view-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-container .view-2 {
  height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media only screen and (max-width: 1007px) {
  .carousel-container .view-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carousel-container .plan-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#1d6a3e), to(#0f3620));
  background: linear-gradient(180deg, #1d6a3e 0%, #0f3620 100%);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5%;
}

.carousel-container .plan-box .speed-info-container {
  margin-bottom: 30px;
}

.carousel-container .plan-box .speed-info-container span {
  display: inline;
  font-size: 12px;
}

.carousel-container .plan-box .price {
  margin-bottom: 30px;
}

.carousel-container .plan-box p {
  text-align: center;
}

.carousel-container .plan-box .button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.carousel-container .semi-circle {
  width: 100%;
  width: 200px;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid yellow;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 30px;
}

.service-help {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-help .service-help-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-help .service-help-content:nth-child(2) {
  margin-top: 100px;
}

.service-help p {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=index.css.map */