* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Europa;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

a {
  font-family: "Europa";
}

p {
  font-family: "Europa";
}

span {
  font-family: "Europa";
}

.light {
  font-weight: lighter;
}

.page-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  width: 100%;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: ease-in-out;
  z-index: 2;
  transition: 0.2s ease-in-out;
}
header .header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: #1d6a3f;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
}
footer .footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer img {
  width: 150px;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 500px;
  font-size: 20px;
  color: white;
}
.button.button-light-green {
  background: #2fac66;
}
.button.button-dark-green {
  background: #1d6a3f;
}

.mobile-nav {
  display: none;
  opacity: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  background: #1d6a3f;
  z-index: 3;
  transition: 0.3s ease-in-out;
}

.close {
  color: white;
}

nav a {
  color: white;
  font-size: 20px;
  margin: 20px;
}
@media only screen and (max-width: 700px) {
  nav a {
    display: none;
  }
}
nav i {
  font-size: 30px;
  color: white;
  display: none !important;
}
@media only screen and (max-width: 700px) {
  nav i {
    display: block !important;
  }
}

header {
  background: #1d6a3f !important;
  padding-bottom: 20px;
  position: static;
}

.billboard {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  background: linear-gradient(180deg, rgb(29, 106, 63) 20%, rgba(255, 255, 255, 0.3505996148) 100%), url(./images/house.jpg);
  background-position: center;
  background-size: cover;
}
.billboard .billboard-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.billboard h1 {
  color: white;
  font-size: 2em;
  margin-bottom: 30px;
}

.plans {
  padding-top: 50px;
}
.plans .plans-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans .plan-chooser-3 {
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
  border: solid 1px grey;
  cursor: pointer;
  display: flex;
  width: 100%;
  max-width: 500px;
}
.plans .plan-chooser-3 span {
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 50%;
}
.plans .plan-chooser-3 span.active {
  color: white;
}
.plans .plan-chooser-3 .slider {
  height: 100%;
  background: #1d6a3f;
  position: absolute;
  border-radius: 50px;
  z-index: 1;
  transition: 0.2s ease-in-out;
  width: 33.3333333333%;
}

.carousel-container {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}
.carousel-container .carousel-container-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  transition: 0.3s ease-in-out;
}
.carousel-container .view {
  height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 30px;
}
@media only screen and (max-width: 1007px) {
  .carousel-container .view {
    flex-direction: column;
  }
}
.carousel-container .plan-box {
  background: linear-gradient(180deg, rgb(29, 106, 62) 0%, rgb(15, 54, 32) 100%);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5%;
}
.carousel-container .plan-box .speed-info-container {
  margin-bottom: 30px;
}
.carousel-container .plan-box .speed-info-container span {
  display: inline;
  font-size: 12px;
}
.carousel-container .plan-box .price {
  margin-bottom: 30px;
}
.carousel-container .plan-box p {
  text-align: center;
}
.carousel-container .plan-box .button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.carousel-container .semi-circle {
  width: 100%;
  width: 200px;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 10px solid yellow;
  border-bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 30px;
}/*# sourceMappingURL=plans.css.map */